
.Title,
.atxt {
    font-family:Helvetica, Verdana, Arial;
    font-size: 40;
    color: #B7331B;
    text-align:center;
}

.atxt {
    font-size: 24;
    color: rgb(0, 0, 0);
    padding-right: 70px;
}

ul {
    list-style-type:disc;
    color:rgba(243, 118, 8, 0.85);
    text-align: center; 
    list-style-position: inside;/*  center the :marker: with the text*/
}

li {
    margin-bottom: 30px;
}

.screen {
    margin-left: 575px;
}







